.config {
    background-image: url('./images/backgroundLogo.svg');
    background-size: cover;
    max-width: 800px;
    width: 750px;
    height: 750px;
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.configLabel {
    color: rgb(255, 255, 255);
    margin-top: 30px;
    padding-left: 150px;
    padding-right: 10px;
    margin-bottom: 200px;
    align-items: left;
    font-style: serif;
    
  }
.configTitle {
    color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    font-style: serif;
    font-size:x-large;
}
.configInput{
    background-color: rgb(109, 109, 109);
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    display: flex;
}
.topButton{
    margin-left: 80%;
    margin-top: 5%;
}
body{
    background-color: rgb(53, 56, 57);
  }

.configCreateLocation{
    position: absolute;
    top: 50%;
    margin-top: -250px;
    margin-left: 500px;
    align-self: center;
    /*color: white;*/
}
form{
    align-items: center;
    width: 100%;
    max-width: 700px;
    width: 650px;
    height: 650px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.buttonInput{
    display: block;
    margin-left: 25%;

}
.input{
    background-color: rgb(109, 109, 109);
    width: 66%;
}

.configLabelRequired{
    position: absolute;
    top: 43%;
    margin-top: -161px;
    margin-left: 475px;
    align-self: center;
    font-size: "5px";
    color: red;
}

/*
Meant to create a second required 
label next to Stored location
*/
.configSecLabelRequired{
    position: absolute;
    top: 43%;
    margin-top: -115px;
    margin-left: 475px;
    align-self: center;
    font-size: "5px";
    color: red;
}
/* .container{
    max-width: 800px;
    width: 750px;
    height: 750px;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    margin: auto;
} */

#continue{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 123, 0);
    display: flex;
    height: 4%;
    width: 10%;
    margin: auto;
    top: 10%;

}

#cancel{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 123, 0);
    display: flex;
    height: 4%;
    width: 10%;
    bottom: 100%;
    margin: auto;
    top: 10%;
    margin-left: 50%;
}

#browse{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 123, 0);
    background-repeat: no-repeat;
    display: flex;
    height: 4%;
    width: 10%;
    margin: auto;
    top: 15%;
    margin-left: 66%;
    margin-top: -16%;
}