

.navigationBottomBar{
    left: 0;
    width: 100%;
    border: solid 2px #646464;
}

/* Table Settings*/
thead{
    display: block
}
  
tbody {
    display:block;
    max-height: 315px;
    overflow-y:auto;
    background-color: #212529; /*#343a40*/
}

/* Table Header General Settings*/
.rawTable th:nth-child(1), th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8), th:nth-child(9), th:nth-child(10), th:nth-child(11), th:nth-child(12), th:nth-child(13){
    background-color: rgb(40, 77, 241);
    color: whitesmoke;
    font-size: 14px;
}
  
/* Customized Header Settings */
.rawTable th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8), th:nth-child(9), th:nth-child(10), th:nth-child(11), th:nth-child(12), th:nth-child(13){
    text-align: center;
    width: 70px;
}
.rawTable th:nth-child(2){
    width: 136px;
}

.rawTable th:nth-child(3) {
    width: 76px;
}
.rawTable th:nth-child(4){
    width: 76px;
}

.rawTable th:nth-child(1){
    width: 40px;
}
  
/* Default Row Settings */
.rawTable td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(9), td:nth-child(10), td:nth-child(11),td:nth-child(12){
    text-align: center;
    width: 70px;
    color: white;
    font-size: 12px;
}
.rawTable td:nth-child(2){
    width: 136px;
    color: white;
    font-size: 12px;
}

.rawTable td:nth-child(3) {
    text-align: center;
    width: 76px;
    color: white;
    font-size: 12px;
}
.rawTable td:nth-child(4){
    width: 76px;
    color: white;
    font-size: 12px;
}

.rawTable td:nth-child(1){
    width: 40px;
    color: white;
    font-size: 12px;
}

.rawTable td:nth-child(13){
    text-align: center;
    width: 55px;
    color: white;
    font-size: 12px;
}
  
/* Hover color. Only affects the entire header right now. */
.table-hover,table.rawTable tr:hover th{
  background-color: #262546;
}

.edit{
    text-align: center;
    width: 30px;
    background-color: transparent;
    color: white;
    font-size: 12px;
    border-color: transparent;
}

/* Decoded Message Table */
table.decodedTable tbody {
    display:block;
    height: 230px;
    max-height: 230px;
    overflow-y:auto;
    background-color: rgb(33,37,41) /*#212529; /*#343a40*/
}

table.decodedTable th:nth-child(1), th:nth-child(2), th:nth-child(3){
    background-color: rgb(40, 77, 241);
    color: whitesmoke;
    font-size: 14px;
}

table.decodedTable th:nth-child(1){
    text-align: center;
    width: 230px;
}

table.decodedTable th:nth-child(2) {
    width: 640px;
}
table.decodedTable th:nth-child(3){
    width: 85px;
}

/* Default Row Settings */
table.decodedTable td:nth-child(1){
    text-align: center;
    width: 230px;
    color: white;
    font-size: 12px;
}
table.decodedTable td:nth-child(2){
    width: 640px;
    color: white;
    font-size: 12px;
}
table.decodedTable td:nth-child(3) {
    text-align: left;
    width: 70px;
    color: white;
    font-size: 12px;
}

/* Hover color */
.table-hover,table.decodedTable tr:hover th{
    background-color: #262546;
  }

body{
    background-color: rgb(58, 58, 58);
}