.config {
    background-image: url('../images/backgroundLogo.png') ;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: rgb(58, 58, 58);
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    background-position-y: 76px;
    align-items: center;
    justify-content: center;
}
.header {
    text-align: center;
}
.text {
    color:white;
    display: inline-block;
    padding: 0 20px;
    font-family: Serif;
	font-size: x-large;
    padding-bottom: 10px;
    border-bottom: 2px solid #fffd03;
    position: relative; top: 4px;
}
form{
    color: white;
    padding-top: 40px;
    padding-left: 180px;
    width: 650px;
    height: 650px;
    max-width: 700px;
    font-style: serif;
    margin: auto;
}

#sync{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 253, 3);
    border-radius: 5px;
    margin-top:30px;
    position: absolute;
    bottom: 10;
}

.mb-2{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    position: static;
    font-size:large;
    margin-bottom:40px;

}