.RenameModal {
  /* left: 0; */
}

.RenameModalBody {
  height: 250px;
}

.RenameInputs {
  width: 100%;
  color: whitesmoke;
}

/* .IDInput{
    color: white;
}

.NameInput{
    color: white;
} */


