#Title {
    background-image: url('./images/BG_diag-01.png');
}
body{
    background-color: rgb(58, 58, 58);
}
.contentarea{
    padding:8rem;
    width: 100%;
    position: relative;
    background-color: rgb(58, 58, 58);
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #FFFD03;
    text-align: center;
    font-family: Serif;
	font-size: 70px;
	font-weight: 700;
    -webkit-text-stroke: 1px black;
}
.footer {
    border-top: 2px solid rgba(64,64,64,var(--tw-bg-opacity));
}

.bg-black-default {
    --tw-bg-opacity: 1;
    background-color: rgba(28,28,28,var(--tw-bg-opacity));
    text-align: right;
    cursor: pointer;
}

a {
    color: #FFFD03;
    text-decoration: none;
}

a:hover {
    color: darkgoldenrod;
}

