body{
  background-color: rgb(52, 52, 52) !important;
}
.carLogo{
  width: 1200px;
  height: 650px;
  background-size: 80%;
  background-color: transparent;
  background-image: url('./images/Car.svg');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  margin-top: 8.2%;
  margin-left: 43.8%;
}

#trafficButton{
	height: 2.1%;
	top: 10%;
  left: 6%;
	width: 4.5%;
}

#CANButton{
	height: 2.1%;
	
	top: 10%;
  left: 10.5%;
	width: 4.5%;
}

#min{
	height: 2.1%;
	
	top: 10.3%;
  right: 18%;
	width: 2%;
}

#max{
  height: 2.1%;
	
	top: 10.3%;
  right: 16%;
	width: 2%;
}

#exit{
  height: 2.1%;
	
	top: 10.3%;
  right: 14%;
	width: 2%;
}

#fileLeft{
	 
  height: 5%;
  top: 12.6%;
  left: 6%;
  width: 3%;
  font-size: medium;
}


#view{
	 
  height: 5%;
  top: 12.6%;
  left: 9%;
  width: 3%;
  font-size: medium;
}

#packets{
	 
  height: 5%;
  top: 12.6%;
  left: 12%;
  width: 3%;
  font-size: medium;
}

#play{
	 
  height: 5%;
  top: 12.6%;
  left: 45%;
  width: 3%;
  font-size: medium;
}

#fileRight{
	 
  height: 5%;
  top: 12.6%;
  right: 48.5%;
  width: 3%;
  font-size: medium;
}

#edit{
   
  height: 5%;
  top: 12.6%;
  right: 45.5%;
  width: 3%;
  font-size: medium;
}

#nodes{
   
  height: 5%;
  top: 12.6%;
  right: 42.5%;
  width: 3%;
  font-size: medium;
}

#map{
   
  height: 5%;
  top: 12.6%;
  right: 14%;
  width: 3%;
  font-size: medium;
}

#id{
	
	height: 5%;
	top: 17.5%;
	left: 6%;
	width: 5%;
	font-size: medium;
}

#time{
	
	height: 5%;
	top:17.5%;
	left: 11%;
	width: 5%;
	font-size: medium;	
}

#data{
	
	height: 5%;
	top: 17.5%;
	left:16%;
	width: 32.5%;
	font-size: medium;
}

.seperator{
  
  background-color: rgb(168, 167, 167);
  height: 5%; /*height was 50px*/
  width:80%;
  top: 5%;
  left: 6%;
}

.name{
  
  top: 8.7%;
  left: 45%;
  font-size: xx-large;
  color: white;
}



