.screen{
  margin-top: -3%;
}
h4 {
  position: relative;
  top: 86px;
  left: 390px;
  color: white;
}

.TopButtons{
  top: 41px;
  left: 5%;
  position: relative;
}

.MapDropdowns{
  top: 41px;
  left: 5%;
  position: relative;
  height: 30px;
  width: 800px;
}

.packetDropdowns{
  left: 5%;
  position: relative;
  height: 30px;
  width: 800px;
}


.navigationTopBar{
  position: absolute;
  left: 0;
}

.playTrafficButton{
  position: relative;
  left: 175%;
}

.mapButton{
  position: relative;
  left: 242%;
}

.dataPacketButtons{
  position: absolute;
  left: 5%;
}

.map{
  position: static;
  grid-area: main;
  height: 470px;
  width: 800px;
  margin-left: 5%;
  margin-top: 1%;
  background-image: url('./images/Car.svg');
  background-size: 97%;
  }