.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

#add-entry {
  float: left;
}

#remove-entry {
  float: left;
  background-color: rgb(187, 17, 17);
}


th {
  background-color: #0d6efd;
}

tr {
  color: white;
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
