.canbusbuttons{
    text-align: center;
}
#button{
    font-family: Serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 253, 3);
    border-radius: 5px;
}
.cancel{
    text-align: center;
}
