.container {
    background-image: url('./images/backgroundLogo.png');
    background-repeat: no-repeat;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 660px;
    height: 662px;
    max-width: 700px;
    background-color: rgb(58,58,58);
    background-position: center;
    background-size: 662px;
    background-attachment: fixed;
    background-position-y: 77px;
}
.card{
    color: white;
    background-color: transparent;
    border-color: rgb(58,58,58);
    border-style: solid;
    border-width: 0;
    scrollbar-width: 10px;
}
.header{
    text-align: center;
}
.text{
    color:white;
    display: inline-block;
    padding: 0 20px;
    font-family: Serif;
	font-size: x-large;
    padding-bottom: 10px;
    border-bottom: 2px solid #fffd03;
    position: relative; top: 0px;
}
.card-header{
    font-family: Serif;
    font-size: 18;
    color: white;
    text-align: center;
    background-color: transparent;
    border-color: rgb(58,58,58);
    border-style: solid;
    border-width: 0;
}
.card-body{
    font-family: Serif;
    font-size: 18;
    color: white;
    text-align: match-parent;
    padding: auto 0;
}

.input-group-text{
    background-color: transparent;
    color: white;
    font-family: Serif;
    border-color: transparent;
    font-size: 18;
    height: 30px;
}
#select{
    background-color: rgb(109, 109, 109);
    width: 50%;
    height: 30px;
    border-radius: 5px;
}
#fetch{
    font-family: Serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 253, 3);
    border-radius: 5px;
    margin-left: 30px;
}
#all{
    font-family: Serif;
    color: white;
    background-color: #0275d8;
    border-radius: 5px;
}
#clear{
    font-family: Serif;
    color: rgb(0, 0, 0);;
    background-color: #f0ad4e;
    border-radius: 5px;
    margin-left: 30px;
}
.Buttons{
    text-align: right;
}
.alert{
    color: white;
    background-color: rgb(109, 109, 109);
    width: auto;
    height: 440px;
    overflow-y: auto;
    max-height: 440px;
}
