h4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 'x-large';
  font-weight: 700;
}
.configForm{
  color:white;
  margin-top: 30px;
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 200px;
  font-family: serif;
	font-size: 18;
}
.Initials{
  background-color: rgb(109, 109, 109);
  width: 60%;
  margin-left: 46px;
}
.Date{
  background-color: rgb(109, 109, 109);
  width: 60%;
  margin-left: 65px;
}
.CANID{
  background-color: rgb(109, 109, 109);
  width: 60%;
  margin-left: 20px;
}
.VehicleID{
  background-color: rgb(109, 109, 109);
  width: 60%;
  margin-left: 78px;
}
.BaudRate{
  background-color: rgb(109, 109, 109);
  width: 60%;
  margin-left: 79px;
}
.BlackList{
  background-color: rgb(109, 109, 109);
  width: 60%;
  margin-left: 90px;
}.DBCFile{
  background-color: rgb(109, 109, 109);
  width: 60%;
  margin-left: 113px;
}
.blacklistbutton{
  width: 255px;
  height:250px;
  background-color: transparent;
  background-image: url('./images/image\ 77.svg');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
}
.dbcbutton{
  width: 255px;
  height:250px;
  background-color: transparent;
  background-image: url('./images/image\ 78.svg');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
}
#submit{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 123, 0);
  align-items: center;
  display: flex;
  margin: center;
  border-radius: 5px;
}
/*
.seperator{
  height: 5px;
  width:100%;
  background-color: rgb(95, 95, 95);
  margin-top: 5%;
  margin-bottom: 5%;
}*/
