.screen{
  margin-top: -3%;

  background: rgb(30,186,251);
  background: linear-gradient(90deg, rgba(30,186,251,1) 5%, rgba(84,111,177,1) 56%, rgba(49,50,148,1) 84%);
}

.titleName {
  position: relative;
  top: 86px;
  left: 390px;
  color: black;
}

.TopButtons{
  top: 41px;
  left: 5%;
  position: relative;
}

.MapDropdowns{
  top: 41px;
  left: 5%;
  position: relative;
  height: 30px;
  width: 800px;
}

.packetDropdowns{
  left: 5%;
  position: relative;
  height: 30px;
  width: 800px;
}


.navigationTopBar{
  position: absolute;
  left: 0;
}

.playTrafficButton{
  position: relative;
  left: 175%;
}

.mapButton{
  position: relative;
  left: 242%;
}

.dataPacketButtons{
  position: static;
  width: 100%;
  margin-left: 5%;
  margin-top: 1%;
  left: 5%;
}

.map{
  position: static;
  grid-area: main;
  height: 470px;
  width: 800px;
  margin-left: 5%;
  margin-top: 1%;
  background-image: url('./images/Car.svg');
  background-size: 97%;
  }

/* TABLE STYLING BELOW */

  /* Necessary for maintaining the scrollbar on table */
  body {
    --table-width:100%;
  }

  /* Size of table*/
  tbody {
    display:block;
    max-height:300px;
    overflow-y:auto;
  }
  /* Handles style of table elements */
  thead, tbody tr {
    display:table;
    width: 100%;
    table-layout:fixed;
  }

/* Header Color */
th:nth-child(1), th:nth-child(2), th:nth-child(3){
  background-color:rgb(255, 193, 7);
  color: black;
  padding:12px
}
.table-hover, thead, tr:hover th, .table-hover, tbody, td:hover td {
  background-color: #bd46d2;
}

/* was going to attempt to target some elements in the table for selection */
