
.MapRibbon{
    left: 0;
    width: 100%;
    border: solid 2px #646464;
  }
  .searchInput{
    margin-left: auto;
    background-color: rgb(109, 109, 109);
  }
  .searchButton{
    background-color: #76707c !important;
    /* border-color: #0d6efd; */
    /* border-width: 3.5px; */
    
  }
  