html {
  /* To make use of full height of page*/
  min-height: 100%;
  margin: 0;
}
body {
  min-height: 100%;
  margin: 0;
}
/* .TopButtons{
  top: 41px;
  position: relative;
} */


/* Map Dropdowns */
.mapNodeAndDrop{
  position: relative;
  width: 100%;
}
/* Map Ribbon Items*/
.navigationTopBar{
  position: absolute;
  left: 0;
  width: 100%;
  border: solid 2px #646464;

}

/* Packet Dropdowns */
.packetTableAndDrop{
  position: relative;
  width: 100%;
  bottom: 0;
}
/* Packet Ribbon Items */
.navigationBottomBar{
  position: absolute;
  left: 0;
}

/* Visualizer */
/* .map{
position: relative;
resize: both;
width: 100%;
border: solid 2px gold;
} */

.rectangle {
  position: fixed;
  width: 50%;
  height: 20px;
  background: black;
  margin-top: 20%;
  margin-left: 25%;
}




/* TABLE STYLING BELOW */


  /* Necessary for maintaining the scrollbar on table */
  /* Size of table*/
  tbody {
    --table-width:100%;
    display:block;
    max-height:280px;
    overflow-y:auto;
  }
  /* Handles style of table elements */
  thead, tbody tr {
    display:table;
    width: 100%;
    height:30px;
    table-layout:fixed;
  }

  .tTable{
    position: relative;
    margin-bottom: 0;
  }

/* Default Header Color */
th:nth-child(1), th:nth-child(2), th:nth-child(3){
  /* background-color:rgb(135, 47, 193); */
  background-color: rgb(255, 193, 7);
  color: black;
  padding:12px
}

/* Hover color. Only affects the entire header right now. Need to highlight individual header sections */
.table-hover, thead, tr:hover th, .table-hover, tbody, td:hover td {
  /* background-color: rgb(234, 7, 255); */
  background-color: rgb(255, 202, 44);
}

.pointer{
  cursor:pointer;
}

.clickable-row:hover{
  background-color: green;
}

.clickable-id:hover{
  background-color: green;
}

.clickable-time:hover{
  background-color: green;
}

.clickable-data:hover{
  background-color: green;
}

/*
td{
  background-color: white;
}
*/

tr:hover td{
  background-color: green;
}
