.VisualizerPage{
  display: flex;
  height: 740px;
}
.MapSection{
  width: 50%;
  /* resize:horizontal;
  overflow: scroll; */
}
/* .TableSection{
  resize:horizontal;
  overflow: scroll;
} */ */

.mapButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
