/* File Menu */
.data{
    width: 50%;
}

.navigationBottomBar{
    left: 0;
    width: 100%;
    border: solid 2px #646464;
}

/* Table Settings*/
thead{
    display: block
}
  
tbody {
    display:block;
    max-height: 315px;
    overflow-y:auto;
    background-color: #212529; /*#343a40*/
}

/* Table Header General Settings*/
th:nth-child(1), th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8), th:nth-child(9), th:nth-child(10), th:nth-child(11), th:nth-child(12), th:nth-child(13){
    background-color: rgb(255, 253, 3);
    color: black;
    font-size: 14px;
}
  
/* Customized Header Settings */
th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8), th:nth-child(9), th:nth-child(10), th:nth-child(11), th:nth-child(12), th:nth-child(13){
    text-align: center;
    width: 70px;
}
th:nth-child(2){
    width: 136px;
}

th:nth-child(3) {
    width: 76px;
}
th:nth-child(4){
    width: 76px;
}

th:nth-child(1){
    width: 40px;
}
  
/* Default Row Settings */
td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(9), td:nth-child(10), td:nth-child(11),td:nth-child(12){
    text-align: center;
    width: 70px;
    color: white;
    font-size: 12px;
}
td:nth-child(2){
    width: 136px;
    color: white;
    font-size: 12px;
}

td:nth-child(3) {
    text-align: center;
    width: 76px;
    color: white;
    font-size: 12px;
}
td:nth-child(4){
    width: 76px;
    color: white;
    font-size: 12px;
}

td:nth-child(1){
    width: 40px;
    color: white;
    font-size: 12px;
}

td:nth-child(13){
    text-align: center;
    width: 55px;
    color: white;
    font-size: 12px;
}
  
/* Hover color. Only affects the entire header right now. */
.table-hover, thead, tr:hover th{
    background-color: rgb(255, 202, 44);
}

/* Alert Box */  
.alert{
    color: white;
    background-color: rgb(109, 109, 109);
    width: auto;
    height: 230px;
    overflow-y: auto;
    max-height: 230px;
}